name: Upload Python Package to PyPI

on:
  push:
  tags:
    - 'v*'
  branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Install UV
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: |
        make install

    - name: Build package
      run: |
        make build

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        print_hash: true
